div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .no-print {
    display: none;
  }
}
